@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --baseColor: #656c7c;
    --baseSize: 16px;
    --baseLineHeight: 1.5;
    --fontFamily: Inter, sans-serif;
    --pink: #ea4c89;
    --pinkLight: #ffecf0;
    --blue: #1769ff;
  
    --redTick: url("data:image/svg+xml,%3Csvg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='%23EA455F'/%3E%3C/svg%3E%0A");
  
    --whiteTick: url("data:image/svg+xml,%3Csvg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
  
    --close: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 1.414 16.586 0 9 7.586 1.414 0 0 1.414 7.586 9 0 16.586 1.414 18 9 10.414 16.586 18 18 16.586 10.414 9 18 1.414Z' fill='%23B1B8C9'/%3E%3C/svg%3E");
  
    --entpIcon: url("data:image/svg+xml,%3Csvg width='42' height='42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.813 11.077 21 1.155l17.187 9.922v19.846L21 40.845 3.813 30.923V11.077Z' stroke='%23fff' stroke-width='2'/%3E%3Ccircle cx='21' cy='21' r='8' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E");
  }
body{
    max-width: 1440px;
    font-family: var(--fontFamily);
    background-color: aliceblue;
}
.first-text{
    text-align: center;
    margin: 50px;
}
.first-text p{
    margin-top: 15px;
    color: var(--baseColor);
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
}
section button{
    cursor: pointer;
    transition: all .3s ease;
    font-weight: 600;
    font-size: 1em;
    padding: 20px 20px;
    width: 100%;
    border-radius: 8px;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.plan:nth-of-type(1) {
    background-color: aliceblue;
    border: 1px solid rgb(213, 213, 213);
  }
  
  .plan:nth-of-type(2) {
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgb(239, 239, 239);
    border: 1px solid white;
  }
  
  .plan:nth-of-type(3) {
    background-color: var(--blue);
    color: white !important;
    border: none;
  }
  .plan:nth-of-type(3) b{
    color: white;
  }
  .plan:nth-of-type(3) ul li{
    color: white !important;
  }
  .plan:nth-of-type(3) .lorem{
    margin-top: 20px !important;
    margin-bottom: 30px !important;
  }
  .plan:nth-of-type(3) button{
    margin-top: 25px !important;
  }

.plan{
    position: relative;
    font-weight: 500;
    width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.plan .icon1{
    color: var(--pink);
    font-size: 2em;
    font-weight: 10px;
    padding: 3px 8px;
    border: 2px solid var(--blue);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.plan .icon2{
    color: var(--pink);
    font-size: 2.2em;
    padding: 3px 10px;
    border: 2px solid var(--blue);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.plan .head{
    display: flex;
    align-items: center;
}
.plan .head p,
.plan .head .p{
    font-size: 1.2em;
    margin-left: 20px;
}
.plan .lorem{
    margin-top: 20px;
    margin-bottom: 30px;
}
.plan .price p{
    color: var(--baseColor);
}
.plan b{
    font-size: 1.8em;
    color: black;
}
.plan .services{
    margin-top: 20px;
}
.plan .services ul{
    list-style: none;
}
.plan .services ul li{
    padding: 15px;
    color: var(--baseColor);
}
.plan .services ul li i{
    margin-right: 10px;
    font-size: 1.2em;
}
.plan .services ul .black-li{
    color: black;
}
.plan .services ul .black-li i{
    color: var(--pink);
}
.plan button{
    margin-top: 70px;
    margin-bottom: 20px;
}
.plan-btn1{
    background-color: rgb(252, 224, 229);
    color: var(--pink);
}
.plan-btn2{
    background-color: var(--pink);
    color: white;
}
.plan-btn1:hover,
.plan-btn2:hover{
    transform: translateY(-2px);
    box-shadow: 2px 5px 10px 2px rgb(255, 184, 195) ;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}
.plan-btn3{
    color: var(--pink);
    background-color: white;
}
.plan-btn3:hover{
    transform: translateY(-2px);
    box-shadow: 2px 5px 10px 2px rgba(255, 255, 255, 0.607) ;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);

}
.plan .head label{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #FEB72E;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.head3{
    display: flex;
    align-items: center;
}
.head3 i{
    font-size: 2.5em;
}
.head3 label{
    margin-left: 20px;
    font-size: 1.2em;
}
